body {
  background-color: #E5E5E5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  color: grey;

  nav {
    width: 60%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;

      .home {
        color: black;
        font-weight: bolder;
      }
  
      li {
        padding: 5%;
      }
    }
  }
}