body {
  background-color: #E5E5E5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  color: grey;

  nav {
    width: 60%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;

      .home {
        color: black;
        font-weight: bolder;
      }
  
      li {
        padding: 5%;
      }
    }
  }
}

.home-page {
  div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 0 10% 0 10%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 5% 0 5%;

      h1 {
        font-size: 2.5rem;
        font-weight: bolder;
      }

      p {
        text-align: justify;
        color: grey;
      }

      button {
        padding: 4%;
        background-color: #458FF6;
        border: 0;
        border-radius: 5px;
        color: white;
        width: fit-content;
        margin-top: 5%;
      }
    }

    img {
      width: 40vw;
    }
  }
}

.services-page {
  height: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    height: 8rem;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      text-align: center;
    }

    hr {
      width: 10%;
      margin: 0 auto;
      border: 1px solid black;
    }

    p {
      text-align: center;
      color: grey;
    }
  }

  .articles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;

    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 12rem;
      padding: 5%;
      background-color: whitesmoke;
      border-radius: 5px;
      margin-top: 2%;
      overflow: hidden;

      img {
        width: 5rem;
        height: 5rem;
      }

      h1 {
        padding: 5%;
      }

      p {
        text-align: justify;
        color: grey;
      }
    }
  }

  button {
    padding: 1.5%;
    color: #458FF6;
    border: solid 1px #458FF6;
    border-radius: 5px;
    width: fit-content;
    margin-top: 5vh;
  }
}

.leading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  padding: 0 10% 0 10%;

  button {
    padding: 1.5%;
    color: #458FF6;
    border: solid 1px #458FF6;
    border-radius: 5px;
    width: fit-content;
    margin-top: 5vh;
  }

  .leading-01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    img {
      width: 30vw;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;

      h1 {
        text-align: center;
      }

      hr {
        width: 10%;
        margin: 0 auto;
        border: 1px solid black;
      }

      p {
        text-align: justify;
        color: grey;
      }
    }
  }

  .leading-02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;

    img {
      width: 30vw;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;

      h1 {
        text-align: center;
      }

      hr {
        width: 10%;
        margin: 0 auto;
        border: 1px solid black;
      }

      p {
        text-align: justify;
        color: grey;
      }
    }
  }
}