body {
  background-color: #E5E5E5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  color: grey;

  nav {
    width: 60%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;

      .home {
        color: black;
        font-weight: bolder;
      }
  
      li {
        padding: 5%;
      }
    }
  }
}

.home-page {
  div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 0 10% 0 10%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 5% 0 5%;

      h1 {
        font-size: 2.5rem;
        font-weight: bolder;
      }

      p {
        text-align: justify;
        color: grey;
      }

      button {
        padding: 4%;
        background-color: #458FF6;
        border: 0;
        border-radius: 5px;
        color: white;
        width: fit-content;
        margin-top: 5%;
      }
    }

    img {
      width: 40vw;
    }
  }
}

.services-page {
  height: 100vh;

  div {
    padding: 0 10% 0 10%;
  }
}